<html lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta
      http-equiv="Refresh"
      content="0; URL={{ cta_href }}"
    />
    <title>{{ product_name }} | Official Website USA | Order Page</title>
  </head>

  <body>
    <a
      href="{{ cta_href }}"
    ></a>
  </body>
</html>
